.note-wrapper {
  box-shadow: 0px 0px 5px #666;
  border-radius: 10px;
  background-color: #ccc;
  overflow: hidden;
  max-width: 200px;
  user-select: none;
  cursor: pointer;

  animation: pop-in 0.25s ease-out forwards;
}

.note-header {
  box-shadow: 0px 0px 5px #666;
  background-color: #aaa;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

.note-body {
  color: #333;
  font-size: 1rem;
  padding: 10px 14px;

  max-width: 200px;
  height: 82px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  line-height: 1.4;
  user-select: none;
}

@keyframes pop-in {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }

  70% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes pop-out {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  40% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(0, 0);
  }
}