.note-wrapper {
  box-shadow: 0px 0px 5px #666;
  border-radius: 10px;
  overflow: hidden;
  max-width: 200px;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s ease-out;

  animation: pop-in 0.25s ease-out forwards;
}

.note-header {
  box-shadow: 0px 0px 4px #333;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 14px;
  position: relative;
}

.backslash {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  top: 0;
  opacity: 0.15;
}

.note-header .header-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
}

.note-body {
  color: #333;
  font-size: 1rem;
  padding: 10px 14px;

  max-width: 200px;
  height: 82px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  line-height: 1.4;
  user-select: none;
}

@keyframes pop-in {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }

  70% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes pop-out {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  40% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(0, 0);
  }
}