.note-wrapper {
  box-shadow: 0px 0px 5px #666;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s ease-out;
  
  animation: pop-in 0.25s ease-out forwards;
}

.note-header {
  box-shadow: 0px 0px 4px #333;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 14px;
  position: relative;
}

.main-body {
  z-index: 10;
  position: relative;
}

.note-header .header-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
}

.note-body {
  color: #333;
  font-size: 1rem;
  padding: 10px 14px;


  height: 82px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  line-height: 1.4;
  user-select: none;
}

.expand-note {
  position: fixed;
  z-index: 200;
  transition: all 0.15s ease-out;
  animation: pop-in 0.15s ease-out forwards;
  opacity: 0;
}

.expand-note-after {
  width: 70% !important;
  height: 70% !important;
  top: 20% !important;
  animation: fade-in 0.25s ease-out forwards;
}

.expand-note-final {
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
  animation: fade-in 0.25s ease-out forwards;
}

@keyframes pop-in {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }

  70% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes pop-out {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  40% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(0, 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}