.new-note-container {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;

  width: 100%;
  height: 100vh;

  z-index: 10;
}

.backslash {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;

  animation: fade-in 0.3s ease-out forwards;
}

.main-body {
  background: #efe4be;
  z-index: 1000;
  position: absolute;
  top: 20%;
  margin: auto;
  width: 100%;
  left: 0;
  right: 0;
  max-width: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 12px #333;

  animation: pop-in 0.3s ease-out forwards;
}

.main-body-pop-out {
  animation: pop-out 0.25s ease-out forwards;
}

.backslash-fade-out {
  animation: fade-out 0.25s ease-out forwards;
}

.footer {
   /* background-color: #ffca00; */
   padding: 0.75rem;
   text-align: center;
}

.save {
  background-color: #ffca00;
}

.save:disabled {
  background-color: #e3c032;
  color: #999;
  cursor: default;
}

.input-wrapper-name {
  background-color: #ffca00;
  padding: 0.75rem 0;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, textarea {
  background: none;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: #999 solid 1px;
  width: 100%;
  padding: 0.25rem 1rem;
}

input  {
  padding-bottom: 0.5rem;
}

textarea {
  resize: none;
  padding-top: 0.75rem;
}

button {
  padding: 0.25rem 0.75rem;
  margin: 0;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  width: 6rem;
  border-radius: 5px;
  margin: 0 0.5rem 0 0.5rem;
  border: solid 1px #999;
  cursor: pointer;
  transition: 0.1s;
}

button:hover {
  background-color: #eee;
}

.color-option {
  text-transform: capitalize;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fade-out {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }

  70% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes pop-out {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  40% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(0, 0);
  }
}