<div class="new-note-container">
  <div class="backslash" #backslash></div>
  <div class="main-body" #mainBody [ngStyle]="{backgroundColor: shade}">
    <form class="new-note-form">
      <div class="input-wrapper-name">
        <div class="shade-backslash"></div>
        <input type="text" name="name" placeholder="Name" [(ngModel)]="name" />
        <app-color-picker
          [color]="shade"
          (color-change)="onColorChange($event)"
        ></app-color-picker>
      </div>
      <div class="input-wrapper">
        <textarea
          placeholder="Content"
          name="content"
          id="content"
          cols="30"
          rows="10"
          [(ngModel)]="content"
        ></textarea>
      </div>
    </form>
    <div class="footer">
      <button (click)="onCancel()" class="cancel">Cancel</button>
      <button
        class="save"
        [disabled]="!(name && content)"
        [ngStyle]="{ backgroundColor: shade }"
        (click)="onSaveNote()"
      >
        Save
      </button>
    </div>
  </div>
</div>
